@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom properties */
:root{
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;

    --font-weight-regular: 300;
    --font-weight-bold: 900;

    --background-body: #fff;
    --background-header: radial-gradient(#fff,#ffd6d6);
    --background-footer: #111;
    --background-secondary: #243a6f;

    --color-h: #111;
    --color-h-secondary: #253b70;
    --color-p: #303030;
    --color-accent: #ff523b;

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.15rem;
    --font-size-body: 1rem;

    --box-shadow: 3px 3px 0px #f1f1f1,
                  4px 4px 0 #f1f1f1;

    --box-shadow-secondary: 3px 3px 0px #f1f1f1,
                  4px 4px 0 #f1f1f1;
}

@media (min-width: 768px){
    :root{
        --font-size-h1: 4rem;
        --font-size-h2: 2.55rem;
        --font-size-h3: 1.5rem;
        --font-size-h4: 1rem;
        --font-size-body: .9rem;
    }
}

body{
    background: var(--background-body);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-body);
    line-height: 1.6;
    position: relative;
    width: 100%;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Typography */

h1, h2, h3{
    line-height: 1.1;
    margin: 0;
    font-family: var(--font-family-primary);
    color: var(--color-h);
}
h1{font-size: var(--font-size-h1);}
h2{font-size: var(--font-size-h2);}
h3{font-size: var(--font-size-h3);}
p{color:#8a8a8a;}

/* general styling */

.container{
    max-width: 120rem;
    margin: 0 auto;
}
.container-md{
    max-width: 100rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
    .container-md{
        padding: 0 3rem;
    }
}
@media only screen and (min-width: 768px){
    .container{
        padding: 0 3rem;
    }
    .container-md{
        padding: 0 3rem;
    }
}

/* For the header navigation i did the desktop view first before the mobile view .because i found it easier to do.

/* header styling */
.header{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: radial-gradient(#fff,#ffd6d6);
    overflow: hidden;
    margin-bottom: 4em;
}
.nav{
    padding: 1.6rem 0;
}
.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: pink;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 99;
}
.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .burger{
    color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: var(--font-size-h3);
    text-transform: uppercase;
    color: var(--background-secondary);
}
.logo h1 span{
    color: var(--color-accent);
}
.top-nav{
    display: none;
}
.nav-items{
    display: flex;
    align-items: center;
}
.item:not(:last-child){
    margin-right: 2rem;
}
.nav-:link:link,
.nav-link:visited{
    padding: 0.8rem 1rem;
    transition: all .3s ease-in-out;
}
.nav-link.icon{
    font-size: 1.5rem;
}
.burger{
    display: none;
}
.cart-icon{
    display: none;
}
.enter .btn{
    border-radius: 30px;
    font-size: .7rem;
    padding: .7em 1.7em;
}

@media only screen and (max-width: 992px){
    .logo h1{
        font-size: 1.5rem;
    }
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background: var(--background-body);
        transition: all .5s ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: pink;
        padding: 1rem 1.6rem;
    }
    .top-nav .logo h1{
        color: #fff;
        font-size: 1.5rem;
    }
    .top-nav .close{
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
    }
    .cart-icon{
        display: block;
        font-size: 1.5rem;
    }
    .burger{
        display: block;
        font-size: 1.5rem;
        padding: .5rem;
        cursor: pointer;
        color: var(--background-secondary);
    }
    .nav-items{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }
    .item{
        padding: 1em;
        font-size: 1.3rem;
    }
    .nav-:link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .nav.fix-nav .nav-link{
        color: #243a6f;
    }
    .nav-link.icon{
        display: none;
    }
    body.show::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 4;
    }
    .nav.show{
        background: rgba(0,0,0,0.8);
    }
    .enter{
        padding: 0 1.6rem;
    }
    .enter .btn{
        margin: 0 1em;
    }
}
/* head content */
.head-content-wrapper{
    padding:  4em 3em 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-wrapper img{
    height: 10%;
}
.head-content h2{
    font-weight: 600;
    color: #fbb419;
    margin-bottom: .3em;
}
.head-content .discount{
    color: #b888ff;
}
.head-content h1 span{
    color: #253b70;
    display: block;
    text-shadow: var(--box-shadow);
}
.head-content h1{
    margin-bottom: .3em;
}
.head-content p{
    margin-bottom: 1em;
}

.btn{
    display: inline-block;
    background: var(--color-accent);
    color: #fff;
    padding: 1em 2em;
    transition: background 0.5s;
    text-transform: uppercase;
}
.btn:hover{
    background: #563434;
}
@media (min-width: 768px){
    .head-content-wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
    }
    .img-wrapper img{
        height: 100%;
    }
    .head-content h1{
        margin-bottom: .3em;
    }
    .head-content p{
        margin-bottom: .3em;
        font-size: 1.3rem;
        width: 70%;
    }
}


/* main */
.advert-center{
    padding: 2em;
}
.advert-box{
    position: relative;
    color: #fff;
    height: 27rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
}

.advert-box img{
    position: absolute;
    bottom: 0;
    left: -20%;
    height: 100%;
    width: 35rem;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advert-box:nth-child(1){
    background: #f5c5d1;
}
.advert-box:nth-child(2){
    background: #a1d1df;
    margin: 2em 0;
}
.advert-box:nth-child(3){
    background: #e5bc00;
}
.advert-box .dotted{
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
}
.advert-box .content{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
}
.advert-box .content h2,
.advert-box .content h4
{
    text-shadow: 5px 6px 0 rgba(37,59,112,0.1);
}
.advert-box .content h2{
    margin-bottom: .5em;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.advert-box .content h4
{
    font-size: 1.2rem;
    font-family: var(--font-family-secondary);
}
.section{
    padding: 3rem 0 2rem 0;
}
@media (min-width: 768px){
    .section{
        padding: 7rem 0 5rem 0;
    }
    .advert{
        padding-top: 0;
    }
    .advert-center{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        gap: 3rem;
    }
    .advert-box:nth-child(2){
        margin: 0;
    }
}
/* featured */
.title{
    margin: 4em 4em 5em;
    text-align: center;
}
.title h1{
    font-size: 2rem;
    display: inline-block;
    position: relative;
    color: #253b70;
    z-index: 0;
}
.title h1::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50% , -50%);
    background: #ccc;
    width: 50%;
    height: 3px;
}

/* product */
.product{
    height: 100%;
    /* background: #fff; */
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.15);
    border-radius: 1rem;
    text-align: center;
    margin: 2em 0;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.product:hover{
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.25);
}
.product-header{
    position: relative;
    background: #f6f2f1;
    transition: all .3s ease-in-out;
    z-index: 0;
}
.product-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img img{
    height: 100%;
}
.product-footer{
    padding: 2rem 1.6rem 1.6rem;
}
.product-footer h3{
    font-size: var(--font-size-h3);
    color: var(--background-secondary);
}
.rating{
    color: var(--color-accent);
}
.product-footer .price{
    color: var(--color-accent);
    font-size: 1rem;
}

.product:hover .product-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    transition: all .5s ease-in-out;
}
.product-header .icons{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.product-header .icons span{
    background: #fff;
    display: block;
    border-radius: 50%;
    padding: .5rem .6rem;
    line-height: 2rem;
    cursor: pointer;
}
.product-header .icons span i{
    transition: all .5s ease-in-out;
}
.product-header .icons span:not(:last-child){
    margin-bottom: .5rem;
}
.product-header .icons span:hover{
    background: #ff7c9c;
    color: #fff;
}
.product:hover .icons{
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}
.product:hover .icons a{
    display: block;
    margin-bottom: .5rem;
}
@media (min-width: 768px){
    .product-center{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(15rem, 1fr));
        grid-gap: 5rem 3rem;
    }
    .product{
        margin: 0;
    }
}

/* Product banner */
.product-banner{
    height: 100%;
    background: #243a6f;
}
.product-banner img{
    object-fit: cover;
    height: 100%;
}
.product-banner .right{
    align-self: center;
    text-align: center;
    padding: 1.6rem;
}
.product-banner .left{
    display: none;
}
.product-banner .content h2{
    color: #fbb419;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.product-banner .content .discount{
    color: #b888ff;
}
.product-banner .content h1 span{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: block;
}
.product-banner .content a{
    padding: 1rem 3rem;
}
.product-banner .content h1{
    margin-bottom: 1rem;
}
@media (min-width: 768px){
    .product-banner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
    .product-banner .left{
        display: block;
    }
    .product-banner .content h2{
        font-size: var(--font-size-h2);
    }
    .product-banner .content h1 span{
        font-size: var(--font-size-h1);
    }
}

/* testimonial */
.testimonial{
    position: relative;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-h-secondary);
}
.testimonial:hover{
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.2);
    transform: translateY(-1rem);
}
.testimonial span{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 5rem;
    transform: translate(-50%, 0);
    line-height: 1;
    font-family: sans-serif;
}
.testimonial p{
    margin: 2rem 0 1rem 0;
}
.testimonial .rating{
    margin-bottom: 1rem;
}
.testimonial .img-cover{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial .img-cover img{
    height: 100%;
    object-fit: cover;
}
.testimonial h4{
    margin-top: 1rem;
}
@media (min-width: 768px){
    .testimonial-center{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem,1fr));
        gap: 3rem;
    }
}
/* brands */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brands{
    margin: 100px auto;
}
.card4{
    width: 160px;
}
.card4 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.card4 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
    background: var(--background-footer);
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-3 ul{
    color: #8a8a8a;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 h2{
    font-size: 2rem;
    color: #fff;
}
.footer-col-2 h2 span{
    color: var(--color-accent);
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-4 ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-col-4 ul a{
    color: #fff;
    font-size: 1.3em;
}
.footer-col-4 ul a:hover{
    color: var(--color-accent);
}
.footer li{
    cursor:pointer;
}
.footer li:hover{
    color: #fff;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}