@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom properties */
:root{
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;

    --font-weight-regular: 300;
    --font-weight-bold: 900;

    --background-body: #fff;
    --background-header: lightblue;
    --background-foot: #111;

    --color-h: #111;
    --color-p: #303030;
    --color-accent: #ff523b;

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.25rem;
    /* --font-size-h4: 1.15rem; */
    --font-size-body: 1rem;

    --box-shadow: 3px 3px 0px #f1f1f1,
                  4px 4px 0 #f1f1f1;
}

@media (min-width: 768px){
    :root{
        --font-size-h1: 4rem;
        --font-size-h2: 2.55rem;
        --font-size-h3: 1.5rem;
        --font-size-h4: 1rem;
        --font-size-body: .9rem;
    }
}

body{
    background: var(--background-body);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-body);
    line-height: 1.6;
    position: relative;
    width: 100%;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* Typography */

h1, h2, h3{
    line-height: 1.1;
    margin: 0;
    font-family: var(--font-family-primary);
    color: var(--color-h);
}
h1{font-size: var(--font-size-h1);}
h2{font-size: var(--font-size-h2);}
h3{font-size: var(--font-size-h3);}
p{color:#8a8a8a;}

/* general styling */

.container{
    max-width: 120rem;
    margin: 0 auto;
}
.container-md{
    max-width: 100rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
    .container-md{
        padding: 0 3rem;
    }
}
@media only screen and (min-width: 768px){
    .container{
        padding: 0 3rem;
    }
    .container-md{
        padding: 0 3rem;
    }
}

/* For the header navigation i did the desktop view first before the mobile view .because i found it easier to do.

/* header styling */
.header{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: var(--background-header);
    overflow: hidden;
    margin-bottom: 4em;
}
.nav{
    padding: 1.6rem 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: var(--font-size-h3);
    text-transform: uppercase;
}
.logo h1 span{
    color: var(--color-accent);
}
.top-nav{
    display: none;
}
.nav-items{
    display: flex;
    align-items: center;
}
.item:not(:last-child){
    margin-right: 2rem;
}
.nav-:link:link,
.nav-link:visited{
    padding: 0.8rem 1rem;
    transition: all .3s ease-in-out;
}
.nav-link.icon{
    font-size: 1.5rem;
}
.burger{
    display: none;
}
.cart-icon{
    display: none;
}

@media only screen and (max-width: 992px){
    .logo h1{
        font-size: 1.5rem;
    }
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background: var(--background-body);
        transition: all .5s ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #243a6f;
        padding: 1rem 1.6rem;
    }
    .top-nav .logo h1{
        color: #fff;
        font-size: 1.5rem;
    }
    .top-nav .close{
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
    }
    .cart-icon{
        display: block;
        font-size: 1.5rem;
    }
    .burger{
        display: block;
        font-size: 1.5rem;
        padding: .5rem;
        cursor: pointer;
    }
    .nav-items{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }
    .item{
        padding: 1.5em;
        font-size: 1.3rem;
    }
    .nav-:link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .nav.fix-nav .nav-link{
        color: #243a6f;
    }
    .nav-link.icon{
        display: none;
    }
    body.show::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 4;
    }
    .nav.show{
        background: rgba(0,0,0,0.8);
    }
}
/* head content */
.head-content-wrapper{
    padding:  4em 3em 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.img-wrapper img{
    height: 10%;
}
.head-content h2{
    font-weight: 600;
    color: var(--color-p);
    margin-bottom: .3em;
}
.head-content .discount{
    color: var(--color-accent);
}
.head-content h1 span{
    /* color: #253b70; */
    display: block;
    text-shadow: var(--box-shadow);
}
.head-content h1{
    margin-bottom: .3em;
}
.head-content p{
    margin-bottom: 1em;
}

.btn{
    display: inline-block;
    background: var(--color-accent);
    color: #fff;
    padding: 1em 2em;
    transition: background 0.5s;
    text-transform: uppercase;
}
.btn:hover{
    background: #563434;
}
@media (min-width: 768px){
    .head-content-wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
    }
    .img-wrapper img{
        height: 100%;
    }
    .head-content h1{
        margin-bottom: .3em;
    }
    .head-content p{
        margin-bottom: .3em;
        font-size: 1.3rem;
        width: 70%;
    }
}


/* main */
.advert-center{
    padding: 2em;
}
.advert-box{
    position: relative;
    color: #fff;
    height: 27rem;
    border-radius: 1.6rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
}

.advert-box img{
    position: absolute;
    bottom: 0;
    left: -20%;
    height: 100%;
    width: 35rem;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advert-box:nth-child(1){
    background: #f5c5d1;
}
.advert-box:nth-child(2){
    background: #a1d1df;
    margin: 2em 0;
}
.advert-box:nth-child(3){
    background: #e5bc00;
}
.advert-box .dotted{
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
}
.advert-box .content{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
}
.advert-box .content h2,
.advert-box .content h4
{
    text-shadow: 5px 6px 0 rgba(37,59,112,0.1);
}
.advert-box .content h2{
    margin-bottom: .5em;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.advert-box .content h4
{
    font-size: 1.2rem;
    font-family: var(--font-family-secondary);
}
@media (min-width: 768px){
    .section{
        padding: 10re 0 5rem 0;
    }
    .advert-center{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 3rem;
    }
    .advert-box{
        position: relative;
        color: #fff;
        height: 27rem;
        border-radius: 1.6rem;
        padding: 1.6rem;
        overflow: hidden;
        z-index: 1;
    }

    .advert-box img{
        position: absolute;
        bottom: 0;
        left: -20%;
        height: 100%;
        width: 35rem;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .advert-box:nth-child(1){
        background: #f5c5d1;
    }
    .advert-box:nth-child(2){
        background: #a1d1df;
        margin: 0;
    }
    .advert-box:nth-child(3){
        background: #e5bc00;
    }
    .advert-box .dotted{
        position: relative;
        height: 100%;
        border: 2px dashed #f1f1f1;
        border-radius: 1rem;
    }
    .advert-box .content{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0,-50%);
    }
    .advert-box .content h2,
    .advert-box .content h4
    {
        text-shadow: 5px 6px 0 rgba(37,59,112,0.1);
    }
    .advert-box .content h2{
        margin-bottom: .5em;
        border-bottom: 3px solid #fff;
        color: #fff;
    }
    .advert-box .content h4
    {
        font-size: 1.2rem;
        font-family: var(--font-family-secondary);
    }
}
/* featured */
.title{
    
}
/* brands */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brands{
    margin: 100px auto;
}
.card4{
    width: 160px;
}
.card4 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.card4 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
    background: var(--background-foot);
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-3 ul{
    color: #8a8a8a;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 h2{
    font-size: 2rem;
    color: #fff;
}
.footer-col-2 h2 span{
    color: var(--color-accent);
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-4 ul{
    display: flex;
    justify-content: space-evenly;
}

.footer-col-4 ul a{
    color: #fff;
    font-size: 1.3em;
}
.footer-col-4 ul a:hover{
    color: var(--color-accent);
}
.footer li{
    cursor:pointer;
}
.footer li:hover{
    color: #fff;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}